*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}

@font-face{
    font-family: a;
    src: url(./image/jost-variable.ttf);
}
@font-face{
    font-family: b;
    src: url(./image/KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face{
    font-family: c;
    src: url(./image/KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: red;
    position: relative ;
}

#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
#page1 nav img{
    margin-top: -1.7vw;
    width: 9%;
}
#right-nav button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color:#083FDC ;
    border: 1px solid #fff;
    color: #fff;
    font-family: a;
    font-size: 15px;
}

.bottom-page1{
    position: absolute;
    bottom: 5%;
    height: 40vh;
    width: 50vw;
    background-color: red;
    left: 5%;
}
.bottom-page1 h1 {
    font-family: a;
    font-size: 5vw;
    font-weight: 100;
    line-height: 1;
}
.bottom-page1-inner{
    position: absolute;
    bottom: 0%;
    height: 35%;
    width: 100%;
    background-color: magenta;
}